<ion-header [translucent]="true">
  <ion-toolbar class="">
    <ion-title>Funcionarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size="12" class="ion-justify-content-center">
      
      <ion-button fill="clear">Nome</ion-button>
      <ion-button fill="clear">Cargo</ion-button>
      <ion-button fill="clear">Cidade</ion-button>
      <ion-button fill="clear">Telefone</ion-button>

    </ion-col>
    <ion-col>
      <label for="">Nome: Cargo: Cidade: Telefone:</label>
    </ion-col>
  </ion-row>
</ion-content>
