<ion-header [translucent]="true">
  <ion-toolbar class="">
    <ion-row>
      <ion-col size="2">
        <ion-title>Funcionarios</ion-title>
      </ion-col>
      <ion-col size="2">
        <ion-button>Inserir</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size="4">
      <ion-item>
        <ion-searchbar animated="true" placeholder="Pesquisar..." (keyup)="setPesquisa()" [(ngModel)]="pesquisa.filtro"></ion-searchbar>
      </ion-item>
    </ion-col>
    <ion-col size="8">
      <ion-row>
        <ion-col>
          <ion-radio-group [(ngModel)]="radio">
            <ion-item>
              <ion-radio value="nome" justify="start">Nome</ion-radio>
              <ion-radio value="cargo" justify="start">Cargo</ion-radio>
              <ion-radio value="cidade" justify="start">Cidade</ion-radio>
              <ion-radio value="telefone" justify="start">Telefone</ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
      
  
  <ion-row class="ion-justify-content-center">
    <ion-col size="12">
      <ion-list>
          <ng-container *ngFor="let funcionario of this.funcionarios">
            <ion-item>
              <ion-label>
                Codigo: {{ funcionario.CodFun }}
              </ion-label>
              <ion-label>
                Nome: {{ funcionario.Nome }} {{ funcionario.Sobrenome }}
              </ion-label>
              <ion-label>
                Cargo: {{ funcionario.Cargo }}
              </ion-label>
              <ion-label>
                DataNasc: {{ funcionario.DataNasc }}
              </ion-label>
              <ion-label>
                Endereço: {{ funcionario.Endereco }}
              </ion-label>
              <ion-label>
                Cidade: {{ funcionario.Cidade }}
              </ion-label>
              <ion-label>
                CEP: {{ funcionario.CEP }}
              </ion-label>
              <ion-label>
                Pais: {{ funcionario.Pais }}
              </ion-label>
              <ion-label>
                Fone: {{ funcionario.Fone }}
              </ion-label>
              <ion-label>
                Salario: {{ funcionario.Salario }}
              </ion-label>
              <ion-icon name="trash-outline" (click)="remover(funcionario.CodFun)"></ion-icon>
              <ion-icon name="create-outline"></ion-icon>
            </ion-item>
          </ng-container>
      </ion-list>
      </ion-col>
  </ion-row>

</ion-content>